<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	{% load static %}
	<title>Assign students</title>
	<link rel="stylesheet" type="text/css" href="{% static 'slotter/style.css' %}">
	<link href="https://fonts.googleapis.com/css2?family=Cabin&family=Inconsolata:wdth,wght@95,300;100,400;100,800" rel="stylesheet">
</head>
<body>
	<div id="header">
	<svg id="logo" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 284.82 83.04" width="150">
  		<defs>
	    <style>
	      .cls-1 {
	        fill: #fc0;
	      }
	    </style>
	  	</defs>
	  <path d="M90.21,14.94c15.03,0,25.44,10.9,25.44,24.26s-10.37,24.21-25.53,24.21-25.27-10.85-25.27-24.21,10.37-24.26,25.36-24.26Zm.09,36.83c6.64,0,11.82-4.97,11.82-12.61s-5.23-12.52-11.87-12.52-11.82,5.01-11.82,12.52,5.32,12.61,11.87,12.61Z"/>
	  <path d="M3.78,47.64c6.33,3.65,10.81,4.66,14.68,4.66,5.1,0,7.82-1.45,7.82-3.87-.04-2.94-3.52-3.3-11.34-5.01-5.36-1.1-14.06-3.16-14.06-13.58,0-9.32,6.64-14.94,19.6-14.94,7.12,0,13.23,1.27,19.2,4.13l-3.52,10.59c-4.75-1.93-10.15-3.69-15.29-3.69-4.53,0-6.2,1.85-6.15,3.78,0,2.24,2.46,3.12,8.61,3.96,9.62,1.71,17.89,3.78,17.89,13.84s-9.14,15.95-21.31,15.95c-7.65,0-13.01-.88-19.91-4.57l3.78-11.25Z"/>
	  <path d="M130.97,3.78l9.76-.09v12.66h13.23v11.65h-13.23v16c0,5.67,2.81,7.12,6.46,7.12h7.6l-.09,11.12h-8.83c-10.24,0-18.68-2.77-18.68-18.11V27.99h-7.25v-10.37l6.9-2.64,4.13-11.21Z"/>
	  <path d="M169.73,3.78l9.76-.09v12.66h13.23v11.65h-13.23v16c0,5.67,2.81,7.12,6.46,7.12h7.6l-.09,11.12h-8.83c-10.24,0-18.68-2.77-18.68-18.11V27.99h-7.25v-10.37l6.9-2.64,4.13-11.21Z"/>
	  <path d="M213.93,44.82c1.98,4.39,6.24,7.08,11.03,7.08,5.62,0,7.87-1.45,10.46-3.47l7.38,8.09c-3.21,3.03-9.54,6.94-17.97,6.94-14.77,0-25.14-11.07-25.14-24.3s10.33-24.3,25.18-24.3c12.96,0,21.27,6.55,21.27,16,0,7.51-3.87,13.97-16.48,13.97h-15.73Zm-.18-10.99h13.71c3.56,0,5.76-1.32,5.76-3.43,0-1.98-2.55-4.35-8-4.35-5.01,0-9.49,3.08-11.47,7.78Z"/>
	  <path d="M284.82,28.17l-5.71,.04c-7.47,0-11.91,4.22-11.91,12.52v21.18h-13.54V16.35h10.9l1.05,4.31c2.9-2.42,7.12-4.31,12.74-4.31h6.46v11.82Z"/>
	  <path d="M55.83,39.16c0-6.59,2.54-12.6,6.93-16.98V0h-13.58V45.53c0,12.61,3.21,16.44,16.96,16.44h2.86v-1.36c-8.09-4.05-13.17-12.14-13.17-21.45Z"/>
	  <rect class="cls-1" y="70.57" width="68.99" height="12.47" rx="3.6" ry="3.6"/>
	</svg>
	<div class="menu_item"><a href="/slotter/create/">create</a></div>
	<div class="menu_item"><span id="active_task"><a href="/slotter/start/">schedule</a></span></div>
	</div>
	<div id="number_nav">
		<div class="num_nav_item"><a href="/slotter/start/">1. select section</a></div>
		<hr class="nav_connector_done">
		<div class="num_nav_item"><a href="/slotter/timeslots/">2. choose timeslots</a></div>
		<hr class="nav_connector_done">
		<div class="num_nav_item"><span id="active_step">3. assign students</span></div>
		<!--
		<hr class="nav_connector_end">
		<span class="ball"></span> -->
	</div>
	<div id="main">
	{% if n_assignments > 1 and n_assignments <= 15 %}
	<h1>Hooray! There are {{n_assignments}} possible assignments:</h1>
	{% elif n_assignments == 1 %}
	<h1>Hooray! There is {{n_assignments}} possible assignment:</h1>
	{% elif n_assignments > 15 %}
	<h1>Wow, there are <span class="red_highlight">{{n_assignments}}</span> possible assignments! Scroll down for 10 randomly selected options...</h1>
	{% elif n_assignments == 0 %}
	{% if refined %}
	<h1>Sorry, there are {{n_assignments}} possible assignments with these refinements.</h1>
	{% else %}
	<h1>Sorry, there are {{n_assignments}} possible assignments for this combination of times.</h1>
	{% endif %}
	{% endif %}

	<!--

	Comparison feature that has only been partially implemented...

	{% if save_message %}
	{{ save_message }}<br>
	{% endif %}
	
	

	{% if form00 %}

	<h3>Timeslots</h3>
	{% for t in just_selected_timeslots %}
	{% if t == just_selected_timeslots|last %}
	{{t}}<br>
	{% else %}
	{{t}}<br>
	{% endif %}
	{% endfor %}
	<br>
	<form method="POST">
	{% csrf_token %}
	{{form00}}
	<input type="submit" value="Save">
	</form>
	{% else %}
	{% endif %}
	-->
	{% if n_assignments > 15 %}
	<div class="student_assg_form_box">
	<form method="POST">
	{% if refined %}
	<legend>Refinements made. Need more? Try again:</legend>
	{% else %}
	<legend>Do you want to refine these options further?</legend>
	{% endif %}
	{% csrf_token %}
	{% for field in form0 %}
	<p class="legend_like">{{ field.label_tag }}</p>
	{{field}}
	{% endfor %}
	<br>

	<button type="submit">Start</button>
	</form>
	{% if form1 == None %}
	{% else %}
	<hr class="form_spacer_long">
	<form method="POST">
	{% csrf_token %}
		{% if form1.non_field_errors %}
		<div class="error_box">
		<ul>
		{% for non_field_error in form1.non_field_errors %}
		<li>{{ non_field_error }}
		{% endfor %}
		</ul>
		</div>
		{% endif %}
	{% for field in form1 %}
	{% if field == form1.group_or_avoid or field == form1.students_selected %}
		{% if field == form1.group_or_avoid %}
		<table class="group_or_avoid">
			<tr>
				<td>
				<p class="legend_like">{{ field.label_tag }}</p>
				<p class="form_field">{{field}}</p>
				</td>
		{% else %}
				<td>
				<p class="legend_like">{{ field.label_tag }}</p>
				<p class="form_field">{{field}}</p>
				</td>
		</tr>
		</table>
		{% if form1.timeslots_to_handpick %}
		<hr class="form_spacer">
		{% endif %}
		{% endif %}
	{% else %}
	<p class="legend_like">{{ field.label_tag }}</p>
	<p>{{field}}</p>
		{% if field == form1.balance_by_pronouns and form1.group_or_avoid %}
		<hr class="form_spacer">
		{% elif field == form1.balance_by_pronouns and form1.timeslots_to_handpick %}
		<hr class="form_spacer">
		{% endif %}
	{% endif %}
	{% endfor %}
	<button type="submit">Refine</button>
	</form>
	{% endif %}
	{% if form2 == None %}
	{% else %}
	<hr class="form_spacer_long">
	<form method="POST">
		{% csrf_token %}
		
		<p class="legend_like">Handpick students:</p>
		
		{% if form2.non_field_errors %}
		<div class="error_box">
		<ul>
		{% for non_field_error in form2.non_field_errors %}
		<li>{{ non_field_error }}
		{% endfor %}
		</ul>
		</div>
		{% endif %}
		<table class="group_or_avoid">
			<tr>
				{% for field in form2 %}
				{% if field.is_hidden %}
				{{field}}
				{% else %}
				<td valign="top"><strong>{{field.label_tag}}</strong>
				<p>
				{{field}}
				</p>
				</td>
				{% endif %}
				{% endfor %}
			</tr>
		</table>

		<button type="submit">Pick</button>
	</form>
	{% endif %}
</div>
{% else %}
	{% if n_assignments == 0 and refined %}
	<div class="button_like"><a href="/slotter/assign_students/">Try again</a></div>
	{% elif n_assignments == 0 %}
	<div class="button_like"><a href="/slotter/timeslots/">Back to timeslots</a></div>
	{% endif %}
{% endif %}
		{% for k, v in table.items %}
		<table class="student_assgs">
		<tr>
			<td colspan="3">{{k}}<hr class="assg_spacer"></td>
		</tr>
		{% for i, list in v.items %}
		<tr>
			<td></td> <td>{{i}}</td><td>{% for s in list %}{% if s == list|last %}{{s}}{% else %}{{s}}, {% endif %}{% endfor %}</td>
		</tr>
		{% endfor %}
		</table>
		{% endfor %}
		{{replacement_avail}}
</div>
</body>
</html>