<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Timeslot Form</title>
</head>
<body>
<form action="" method="post">
	<legend><h3>Choose Timeslots</h3></legend>
	{% csrf_token %}
	{% if form.non_field_errors %}
	<ul>
	{% for non_field_error in form.non_field_errors %}
	<li>{{ non_field_error }}
	{% endfor %}
	</ul>
	{% endif %}
	{% for field in form %}
	{% if forloop.counter|divisibleby:"2" %}
	{{ field.label_tag }} {{ field }}<br>
	{% else %}
	{{ field.label_tag }} {{ field }}
	{% endif %}
	{% endfor %}
	<br>
	<input type="submit" value="Submit">
</form>
</body>
</html>