{% extends "slotter/base_CREATE.html" %}

{% block title %}
Create new section
{% endblock %}

{% block subnav %}
	<div class="num_nav_item"><span id="active_step">1. create new section</span> <span class="step_tbd">// <a href="/slotter/edit_section/">edit section</a></span></div>
	<hr class="nav_connector">
	<div class="num_nav_item"><span class="step_tbd"><a href="/slotter/import/">2. import data</a></span></div>
{% endblock %}

{% block content %}
		<div class="section_box">
		<form action="" method="POST" enctype="multipart/form-data">
			<legend>New section</legend>
		{% csrf_token %}
			<div class="double_field_container">
				<div class="field_in_double">{{form.name.label_tag}}<br> {{form.name}}</div> 
				<div class="field_in_double">{{form.instructor.label_tag}}<br> {{form.instructor}}</div>
			</div>
			<div class="double_field_container">
				<div class="field_in_double">{{form.year.label_tag}}<br> <div class="short_dropdown">{{form.year}} <span class="focus"></span></div></div>
				<div class="field_in_double">{{form.quarter.label_tag}}<br> <div class="med_dropdown">{{form.quarter}} <span class="focus"></span></div></div>
			</div>
		<div class="single_field">{{form.class_days.label_tag}}<br> <div class="med_dropdown">{{form.class_days}} <span class="focus"></span></div></div>
		<div class="double_field_container">
			<div class="field_in_double">{{form.class_start_time.label_tag}}<br> {{form.class_start_time}}</div>
			<div class="field_in_double">{{form.class_end_time.label_tag}}<br> {{form.class_end_time}}</div>
		</div>
		<div class="single_field">{{form.seminar_weeks.label_tag}}</div>
		<div class="multicheckbox_container">
			<div class="checkbox_row">
			{% for checkbox in form.seminar_weeks %}
				{% if checkbox.choice_label < 6 %}
				<div class="checkbox_pair">{{checkbox.tag}} {{checkbox.choice_label}}</div>
				{% endif %}
			{% endfor %}
			</div>
			<div class="checkbox_row">
			{% for checkbox in form.seminar_weeks %}
				{% if checkbox.choice_label > 5 %}
				<div class="checkbox_pair">{{checkbox.tag}} {{checkbox.choice_label}}</div>
				{% endif %}
			{% endfor %}
			</div>
		</div>
		<!--
		<div class="single_field">
			{{form.spreadsheet.label_tag}}<br> 
					{% if form.spreadsheet.errors %}
					<p class="form_error_message">
					{% for error in form.spreadsheet.errors %}
					{{error}}
					{% endfor %}
					</p>
					{% endif %}
					{{form.spreadsheet}}
		</div>
		-->
		<button type="submit">Create</button>
		</form>
		</div>
{% endblock %}