{% extends "slotter/base_CREATE.html" %}

{% block title %}
Edit section
{% endblock %}

{% block subnav %}
	<div class="num_nav_item"><a href="/slotter/create/">1. create new section //</a> <span id="active_step">edit section</span></div>
	<hr class="nav_connector">
	<div class="num_nav_item"><span class="step_tbd"><a href="/slotter/import/">2. import data</a></span></div>
{% endblock %}

{% block content %}
		{% if form %}
		<div class="section_box">
		<form action="" method="POST" enctype="multipart/form-data">
			<legend>Edit section</legend>
		{% csrf_token %}
		<div class="double_field_container">
				<div class="field_in_double">{{form.name.label_tag}}<br> {{form.name}}</div> 
				<div class="field_in_double">{{form.instructor.label_tag}}<br> {{form.instructor}}</div>
			</div>
			<div class="double_field_container">
				<div class="field_in_double">{{form.year.label_tag}}<br> <div class="short_dropdown">{{form.year}} <span class="focus"></span></div></div>
				<div class="field_in_double">{{form.quarter.label_tag}}<br> <div class="med_dropdown">{{form.quarter}} <span class="focus"></span></div></div>
			</div>
		<div class="single_field">{{form.class_days.label_tag}}<br> <div class="med_dropdown">{{form.class_days}} <span class="focus"></span></div></div>
		<div class="double_field_container">
			<div class="field_in_double">{{form.class_start_time.label_tag}}<br> {{form.class_start_time}}</div>
			<div class="field_in_double">{{form.class_end_time.label_tag}}<br> {{form.class_end_time}}</div>
		</div>
		<div class="single_field">{{form.seminar_weeks.label_tag}}</div>
		<div class="multicheckbox_container">
			<div class="checkbox_row">
			{% for checkbox in form.seminar_weeks %}
				{% if checkbox.choice_label < 6 %}
				<div class="checkbox_pair">{{checkbox.tag}} {{checkbox.choice_label}}</div>
				{% endif %}
			{% endfor %}
			</div>
			<div class="checkbox_row">
			{% for checkbox in form.seminar_weeks %}
				{% if checkbox.choice_label > 5 %}
				<div class="checkbox_pair">{{checkbox.tag}} {{checkbox.choice_label}}</div>
				{% endif %}
			{% endfor %}
			</div>
		</div>
		<div class="double_field_container">
			<div class="compressed_field"><button type="submit">Save</button> <button type="button" id="delete_section">Delete section</button></div>
			<div class="compressed_field">
			<span id="confirm_delete">Sure about this? <a href="/slotter/section_deleted/">Yes</a> / <a id="cancel_delete">No</a></span>
			</div>
		</div>
		</form>
		</div>
		<div class="section_box">
			<form action="" method="post">
				{% csrf_token %}
				<legend>Edit a different section</legend>
				<div class="one_line_form_box">
					{% for field in form0 %}
					<div class="one_line_form_item">
					{{ field.label_tag }}</div> 
					<div class="section_dropdown one_line_form_item">{{ field }} <span class="focus"></span></div>
					{% endfor %}
					<div class="one_line_form_item"><button type="submit" class="in_line">Submit</button></div>
					</div>
			</form>
		</div>
		{% else %}
				<div class="section_box">
				<form action="" method="post">
				{% csrf_token %}
				<legend>Select a section to edit</legend>
					<div class="one_line_form_box">
					{% for field in form0 %}
					<div class="one_line_form_item">{{ field.label_tag }}</div> 
					<div class="section_dropdown one_line_form_item">{{ field }} <span class="focus"></span></div>
					{% endfor %}
					<div class="one_line_form_item"><button type="submit" class="in_line">Submit</button></div>
					</div>
				</form>
			</div>
		{% endif %}
	</div>
	<script>
		document.getElementById("delete_section").addEventListener('click', function() {
			document.getElementById("confirm_delete").style.visibility = 'visible';
		})
		document.getElementById("cancel_delete").addEventListener('click', function() {
			document.getElementById("confirm_delete").style.visibility = 'hidden';
		})
	</script>
{% endblock %}