{% extends "slotter/base_SCHEDULE.html" %}

{% block title %}
	Assign students
{% endblock %}

{% block subnav %}
	<div class="num_nav_item"><a href="/slotter/start/">1. select section</a></div>
	<hr class="nav_connector_done">
	<div class="num_nav_item"><a href="/slotter/timeslots/">2. choose timeslots</a></div>
	<hr class="nav_connector_done">
	<div class="num_nav_item"><span id="active_step">3. assign students</span> <span class="step_tbd">// <a href="/slotter/calendar/">check calendar</a></span></div>
{% endblock %}

{% block content %}
			{{ seminar_list|json_script:"seminar-list" }}
			{{ student_list|json_script:"student-list" }}
			{{ unique_combo|json_script:"unique-combo" }}

<div id="root" />
	{% load static %}
		<script src="{% static 'slotter/index-bundle.js' %}"></script>
{% endblock %}