{% extends "slotter/base_CREATE.html" %}

{% block title %}
	Import section data
{% endblock %}

{% block subnav %}
	<div class="num_nav_item"><a href="/slotter/create/">1. create new section //</a> <a href="/slotter/edit_section/">edit section</a></div>
	<hr class="nav_connector_done">
	<div class="num_nav_item"><span id="active_step">2. import data</span></div>
{% endblock %}

{% block content %}
	{% if form %}
		<div class="section_box">
			<form action="" method="post" enctype="multipart/form-data">
				{% csrf_token %}
				<legend>Upload spreadsheet for data import</legend>
				<ul>
					<li> spreadsheet must be a .csv file
					<li> file must be less than 100 kb
					<li> spreadsheet must follow <a href="/slotter/csv_guidelines/">formatting guidelines</a>
				</ul>
				<div class="single_field">
						{{ form.section.label_tag }}<br>
					<div class="short_dropdown">{{ form.section }} <span class="focus"></span></div>
				</div>
				<div class="single_field">
				{{form.spreadsheet.label_tag}}<br> 
					{% if form.spreadsheet.errors %}
					<p class="form_error_message">
					{% for error in form.spreadsheet.errors %}
					{{error}}<br>
					{% endfor %}
					</p>
					{% endif %}
				{{form.spreadsheet}}
				</div>
				<button type="submit">Submit</button>
			</form>
			{% if confirmation_message %}
			<div class="section_box_message">
			<i>{{confirmation_message}}</i>
			</div>
			{% endif %}
		</div>
	{% endif %}

{% if student_objs %}

<h1>Data Preview</h1>
<p>
<strong>Section:</strong> {{chosen_section}}<br>
<strong>Number of students:</strong> {{student_objs|length}}<br>
<strong>Timeslot options:</strong> {{timeslot_objs|length}}
</p>
<div class="section_box">
			<form action="" method="post">
				{% csrf_token %}
				<legend>Check and confirm</legend>
				<div class="compressed_field">
					{% if form2.confirm_delete %}
					<div class="import_instructions">Scheduling data for this section already exists. To avoid duplicate data and other conflicts, the existing data must first be cleared.</div>
					<div class="checkbox_container one_line_form_item">{{form2.confirm_delete}} {{form2.confirm_delete.label_tag}}</div>
					{{form2.spreadsheet_data}}
					{% else %}
					<div class="import_instructions">Please review the data below and then confirm to import.</div>
					{{form2.spreadsheet_data}}
					{% endif %}
					{{form2.spreadsheet_data}}
				</div>
				<div class="one_line_form_box_no_margin">
					<div class="one_line_form_item"><button type="submit">Confirm</button></div><div class="button_like"><a href="/slotter/import/">Cancel</a></div>
				</div>
			</form>
		</div>
<h2>Student Data</h2>
<table id="student_import_data">
	<thead>
		<th>Name</th> <th>Cnet ID</th> <th>Pronouns</th> 
	</thead>
	{% for student in student_objs %}
	<tr>
		<td>{{student.first_name}} {{student.last_name}}</td>
		<td><i>{{student.cnetid}}</i></td>
		<td>{{student.get_pronouns_display}}</td>
	</tr>
	{% endfor %}
</table>

<h2>Possible Timeslots</h2>
</div>
<table class="timeslot_selection_preview">
	<thead>
		<td></td>
		{% for day, day_short in weekdays.items %}
		<th>
			<span class="weekday">{{day}}</span>
			<span class="weekday_short">{{day_short}}</span>
		</th>
		{% endfor %}
	</thead>
	{% for time, list in prov_timetable.items %}
		<tr>
			<td>{{time}}</td>
			{% for val in list %}
			{% if val == True %}
			<td rowspan="{{durations}}" class="proposed_timeslot"><span class="ball"></span></td>
			{% elif val == False %}
			<td></td>
			{% elif val == 'continuation' %}
			{% endif %}
			{% endfor %}
		</tr>
	{% endfor %}
</table>

{% endif %}

{% if csv_errors or time_format_errors %}

<div class="import_error_box">
<h1>Whoops!</h1>
There was a problem processing the spreadsheet you uploaded. 
<p>Please take another look at the following cells for typos and other formatting errors:</p>
<div class="import_coords_box">
	{% if csv_errors %}
		{% for tuple in csv_errors %}
		{% if tuple == csv_errors|last %}
		{{tuple.0|upper}}{{tuple.1}}
		{% else %}
		{{tuple.0|upper}}{{tuple.1}},
		{% endif %}
		{% endfor %}
	{% endif %}
</div>
<strong>
{% if time_format_errors %}
	<ul>
	{% for dict in time_format_errors %}
		<li>{{dict.error_coords.0|upper}}{{dict.error_coords.1}} ({% for error in dict.errors %}{% if error == dict.errors|last %}{{error}}{% else %}{{error}}, {% endif %}{% endfor %})
	{% endfor %}
	</ul>
{% endif %}
</strong>
<p>A few guidelines to keep in mind:</p>
{% if csv_errors %}
<ul>
	<li> Avoid commas and most other special characters
	<li> For most cells, stick to alphabetical characters
	<li> CNetID cells can't contain any whitespaces
	<li> For cells representing a student's availability/unavailability, the only allowed options are <strong>Available</strong> or <strong>Not available</strong>
</ul>
{% elif time_format_errors %}
<ul class="full_guidelines">
	<li> Avoid commas and most other special characters
	<li> All times must be in 12-hour format and be followed by an <strong>am</strong> or <strong>pm</strong>, e.g. <strong>11:30 am</strong> 
	<li> Each header cell representing a timeslot should have both a start time and and end time, e.g. <strong>11:30 am - 12:50 pm</strong> 
	<li> Each such cell should also include a day of the week written out, either the first three letters or in full, e.g. <strong>Wed</strong> or <strong>Wednesday</strong>
</ul>
{% endif %}
For a full list of guidelines, <a href="/slotter/csv_guidelines/">see here</a>.
</div>
{% endif %}
{% endblock %}