{% extends "slotter/base_BLANK.html" %}

{% block title %}
Slotter
{% endblock %}

{% block content %}
<div class="import_error_box">
<h1>Hello!</h1>
<p><strong>Slotter</strong> is a scheduling app.</p>

<p>When you need to <strong>divide people into smaller groups for meetings</strong>, Slotter can help with finding times that work for everyone (but especially you) and assigning them to groups.</p>

<p>
	Once you've collected everyone's schedules into a .csv and uploaded it, all you need to do is:
<ol>
	<li> Specify a couple of basic parameters (e.g. how many groups do you want? how small can groups be?)
	<li> Pick the times that make sense to you
</ol>
	<strong>Slotter will do the rest</strong> &#8212 giving you all of the options for assigning everyone to a time. And if you want to have more of a hand in how people are grouped, Slotter can help with that too.
</p>

<p>
	<strong>Check things out for yourself</strong> by clicking <strong><a href="/slotter/start/">schedule</a></strong> and playing around with some of the pre-loaded data. This sample data comes from Slotter's original use case &#8212 dividing classes of college students into smaller seminar groups while working around their existing class schedules.
</p>
</div>
{% endblock %}