{% extends "slotter/base_CREATE.html" %}

{% block title %}
	Schedules imported!
{% endblock %}

{% block subnav %}
	<div class="num_nav_item"><a href="/slotter/create/">1. create new section //</a> <a href="/slotter/edit_section/"><span>edit section</span></a></div>
	<hr class="nav_connector_done">
	<div class="num_nav_item"><span id="active_step">2. import data</span></div>
{% endblock %}

{% block content %}

<div id="section_info_box">
<p class="legend_like">Success - schedules imported!</p>
Data for <strong>{{active_section.name}}</strong> has been imported.
<p>
	<div class="class_info">
		<div class="class_info_label"><strong>Instructor:</strong></div> <div>{{active_section.instructor}}</div>
	</div>
	<div class="class_info">
		<div class="class_info_label"><strong>Meeting time:</strong></div> <div>{{active_section.class_days}}, {{ active_section.class_start_time|time:"g:i" }}–{{ active_section.class_end_time|time:"g:i a" }}</div>
	</div>
	<div class="class_info">
		<div class="class_info_label"><strong>Timeslot options:</strong></div> <div>{{possible_timeslots_n}}</div>
	</div>
	<div class="class_info">
		<div class="class_info_label"><strong>Number of students enrolled:</strong></div> <div>{{class_size}}</div>
	</div>
<strong>Students:</strong><br>
		<div class="class_list">
		{% for column in class_list_columns %}
		<div class="class_column">
			{% for student in column %}
			{% if student == column|last %}
			{{student}}
			{% else %}
			{{student}}<br>
			{% endif %}
			{% endfor %}	
		</div>
		{% endfor %}
	</div>
</p>
	<div class="button_like"><a href="/slotter/start/">Start scheduling</a></div>
	</div>
{% endblock %}