{% extends "slotter/base_CREATE.html" %}

{% block title %}
	Section edited!
{% endblock %}

{% block subnav %}
	<div class="num_nav_item"><a href="/slotter/create/">1. create new section //</a> <a href="/slotter/edit_section/"><span id="active_step">edit section</span></a></div>
	<hr class="nav_connector">
	<div class="num_nav_item"><span class="step_tbd"><a href="/slotter/import/">2. import data</a></span></div>
	</div>
{% endblock %}

{% block content %}
	<div id="section_info_box">
		<div class="section_confirmation_message">
		<p class="legend_like">Success - section edited!</p>
		<strong>Section:</strong> {{active_section.name}}<br>
		<strong>Instructor:</strong> {{active_section.instructor}}<br>
		<strong>Quarter:</strong> {{active_section.get_quarter_display}} {{active_section.year}} <br>
		<strong>Meeting time:</strong> {{active_section.class_days}}, {{active_section.class_start_time|time:"g:i" }}–{{ active_section.class_end_time|time:"g:i a"}}<br>
		<div class="button_like"><a href="/slotter/edit_section/">Edit again</a></div>  <div class="button_like"><a href="/slotter/import/">Import data</a></div>
	</div>
{% endblock %}
	

