{% extends "slotter/base_CREATE.html" %}

{% block title %}
	Section deleted!
{% endblock %}

{% block subnav %}
	<div class="num_nav_item"><a href="/slotter/create/">1. create new section //</a> <a href="/slotter/edit_section/"><span id="active_step">edit section</span></a></div>
	<hr class="nav_connector">
	<div class="num_nav_item"><span class="step_tbd"><a href="/slotter/import/">2. import data</a></span></div>
{% endblock %}

{% block content %}
<div id="section_info_box">
	<p class="legend_like">Success - section deleted!</p>
	<p><strong>{{deleted_section_name}}</strong> has been deleted.</p>
	<div class="button_like"><a href="/slotter/create/">Create a new section</a></div><div class="button_like"><a href="/slotter/edit_section/">Edit a different section</a></div>
</div>

{% endblock %}