{% extends "slotter/base_SCHEDULE.html" %}

{% block title %}
Choose section and set scheduling parameters
{% endblock %}

{% block subnav %}
	<div class="num_nav_item"><span id="active_step">1. select section</span></div>
	<hr class="nav_connector">
	<div class="num_nav_item"><span class="step_tbd">2. choose timeslots</span></div>
	<hr class="nav_connector">
	<div class="num_nav_item"><span class="step_tbd">3. assign students // <a href="/slotter/calendar/">check calendar</a></span></div>
{% endblock %}

{% block content %}
	<div class="section_box">
		<form action="" method="post">
			{% csrf_token %}
			<legend>Select section</legend>
			<div class="one_line_form_box">
			{% for field in form1 %}
			<div class="one_line_form_item">{{ field.label_tag }}</div> <div class="section_dropdown one_line_form_item">{{ field }} <span class="focus"></span></div>
			{% endfor %}
			<div class="one_line_form_item"><button type="submit" class="in_line">Submit</button></div>
			</div>
		</form>
	</div>

{% if class_list %}
<div id="section_info_box">
	<div class="class_info">
		<div class="class_info_label"><strong>Instructor:</strong></div> <div>{{instructor}}</div>
	</div>
	<div class="class_info">
		<div class="class_info_label"><strong>Quarter:</strong></div> <div>{{sec.get_quarter_display}} {{sec.year}}</div>
	</div>
	<div class="class_info">
		<div class="class_info_label"><strong>Class time:</strong></div> <div>{{class_days}}, {{ class_start_time|time:"g:i" }}–{{ class_end_time|time:"g:i a" }}</div></div>
	<div class="class_info">
		<div class="class_info_label"><strong>Number of students enrolled:</strong></div> <div>{{class_size}}</div>
	</div>
<strong>Students:</strong><br>
	<div class="class_list">
			{% for column in class_list_columns %}
			<div class="class_column">
			{% for student in column %}
			{% if student == column|last %}
			{{student}}
			{% else %}
			{{student}}<br>
			{% endif %}
			{% endfor %}	
			</div>
			{% endfor %}
	</div>
</div>
{% endif %}
{% if form2 == None %}
{% else %}
<div class="section_box">
<form action="" method="POST">
	{% csrf_token %}
<legend>Set seminar parameters</legend>
<div class="short_form">
	{% if form2.non_field_errors %}
			<ul>
			{% for non_field_error in form2.non_field_errors %}
			<li>{{ non_field_error }}
			{% endfor %}
			</ul>
	{% endif %}
	{% for field in form2 %}
	<div class="short_form_box">
		<div class="short_form_label">{{ field.label_tag }}</div> <div class="short_form_field">{{ field }}</div>
	</div>
	{% endfor %}
</div>
	<button type="submit">Submit</button>
</form>
</div>
{% if saved_combos %}
<div class="saved_combo_box section_box" id="combo_box">
	<p class="legend_like">Previously Saved Timeslot Combos</p>
	<table class="saved_combos_table">
	{% for combo in labeled_combos %}
	<tr id="row_{{combo.pk}}" class="combo_row">
		<td>{{combo.label}}</td>
		<td><button type="button" id="save_{{combo.pk}}">Go to</button></td>
		<td><button type="button" id="del_{{combo.pk}}">Del</button></td>
	</tr>
	{% endfor %}
	</table>
</div>
{% endif %}
{% endif %}
</div>

{% if form2 == None %}
{% else %}
<script>
	const comboLookup = JSON.parse("{{combo_lookup|escapejs}}")
	let deletedCombo;
	let xhr;

	function addEventListeners() {
		for (let combo in comboLookup) {
			let comboButton = document.getElementById("save_" + combo)
			comboButton.addEventListener("click", function() {
				console.log('clicked', comboLookup[combo]);
				xhrSetSessionData(comboLookup[combo]);
			})
			let delButton = document.getElementById("del_" + combo);
			delButton.addEventListener("click", function() {
				deletedCombo = combo;
				xhrDelCombo(combo);
			})
		}
	}

	function fadeRow() {
		let rowToDel = document.getElementById("row_" + deletedCombo)
		rowToDel.style.opacity = 0;
	}

	function popRow() {
		let rowToDel = document.getElementById("row_" + deletedCombo)
		rowToDel.style.display = "none";
	}

	function fadeComboDiv() {
		let comboDiv = document.getElementById("combo_box")
		comboDiv.style.opacity = 0;
	}

	function popComboDiv() {
		let comboDiv = document.getElementById("combo_box")
		comboDiv.style.display = "none";
	}

	function xhrSetSessionData(combinationString) {
		xhr = new XMLHttpRequest();
		xhr.onreadystatechange = alertContentsSessionData;
		xhr.open("POST", "/slotter/set_timeslot_session_data/", true);
		xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
		let postData = {'combo_data': combinationString}
		xhr.send(JSON.stringify(postData));
	}

	function alertContentsSessionData() {
		if (xhr.readyState === XMLHttpRequest.DONE) {
			const response = JSON.parse(xhr.responseText)
			console.log(response)
			window.location.href = '/slotter/timeslots/';
		}
	}

	function xhrDelCombo(comboPK) {
		xhr = new XMLHttpRequest();
		xhr.onreadystatechange = alertContentsDelCombo;
		xhr.open("POST", "/slotter/delete_timeslot_combo/", true);
		xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
		let postData = {'combo_pk': comboPK}
		xhr.send(JSON.stringify(postData));
	}

	function alertContentsDelCombo() {
		if (xhr.readyState === XMLHttpRequest.DONE) {
			const response = JSON.parse(xhr.responseText)
			console.log(response)
			delete comboLookup[deletedCombo]
			fadeRow()
			setTimeout(popRow, 350)
			if (Object.keys(comboLookup).length == 0) {
				fadeComboDiv();
				setTimeout(popComboDiv, 300)
			}
		}
	}

	addEventListeners()
</script>
{% endif %}
{% endblock %}